<div class="joke">
  <p><%= @joke.setup %></p>
  <p><%= @joke.punchline %></p>
</div>
<div class="likeButton">
  <% if @current_user.present? %>
    <% if @joke.liked?(@current_user) %>
      <%= button_to "Unlike", like_path(@joke), method: "delete", :class => 'buttonStyle' %>
    <% else %>
      <%= button_to "Like", like_path(@joke), method: "put", :class => 'buttonStyle' %>
    <% end %>
  <% end %>
   <%= pluralize @joke.likes.count, "person" %>
   liked this joke
  </div>

<div class="controls">
  <% if @current_user.present? && (@current_user.jokes.include?(@joke) || @current_user.admin?) %>
  <%= link_to "Edit Joke", edit_joke_path(@joke), :class => 'editButton' %>
  <%= button_to "Delete Joke", joke_path(@joke.id), :class => 'deleteButton', :method => "delete", :data => { :confirm => "are you sure" } %>
  <% end %>
</div>
