<!DOCTYPE html>
<html>
  <head>
    <title>Jokes Generater</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
         <%= link_to 'Home', root_path %>
         <% if @current_user.present? %>
           <% if @current_user.admin? %>
             <%= link_to 'All users', users_path %>
           <% end %>
           <%= link_to 'New Joke', new_joke_path %>
           <%= link_to "Log out #{ @current_user.email }", login_path, :method => 'delete' %>
           <%= link_to 'Back', :back  %>
         <% else %>
           <%= link_to 'Sign up', new_user_path %>
           <%= link_to 'Login', login_path %>
           <%= link_to 'Back', :back  %>
         <% end %>
        </div><!-- container -->
      </nav>
    <div class="container">

     <%= yield %>

    </div>
  </body>
</html>
